BasedOnStyle : LLVM
AlignTrailingComments : true
AlwaysBreakTemplateDeclarations : true
AlignAfterOpenBracket : DontAlign
AllowShortFunctionsOnASingleLine : Inline
BinPackArguments : false
BinPackParameters : false
BreakBeforeBraces : Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakConstructorInitializersBeforeComma : true
ColumnLimit : 180
IndentWidth : 4
PointerAlignment : Left
Standard : Cpp11
TabWidth : 4
