[submodule "external/GLV"]
	path = external/GLV
	url = git@github.com:paperManu/GLV.git
[submodule "external/bandit"]
	path = external/bandit
	url = git@github.com:joakimkarlsson/bandit.git
[submodule "external/FLENS"]
	path = external/FLENS
	url = git@github.com:paperManu/FLENS.git
