*.blend1
*.data
*.deb
*.o
*.json
*.lo
*.la
*.libs
*.deps
*.html
*.obj
*.svg
*.swp
*.swo
*.tar.gz
*.tar.bz2
*.zip
*.DS_Store
*__pycache__*

build/
external/third_parties
src/config.h
static/
tests/check_image
tests/check_mesh
tests/check_scene
tests/check_object
tests/check_world
tests/check_gui
tests/unit_tests/assets
tests/integration_tests/assets
tests/*.log
tests/*.trs
tools/splash-check-calibration
