[submodule "external/bandit"]
	path = external/bandit
	url = https://github.com/joakimkarlsson/bandit.git
[submodule "external/hap"]
	path = external/hap
	url = https://github.com/Vidvox/hap.git
[submodule "external/piccante"]
	path = external/piccante
	url = https://github.com/banterle/piccante.git
	branch = master
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
