*.swp
*.o
aclocal.m4
Makefile
Makefile.in
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.i
include/config.h*
include/stamp-h1
